@charset "UTF-8";

/*
Paleta de cores

verde: #49a09d
Roxo: #5f2c82

*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    background-color: white;
    width: 250px;
    height: 529px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.549);

    position: absolute;
    top: 50%;
    left: 50%;

    overflow: hidden;
    
    transition: width 0.5s, height 1s; /*Animacoes de transicao*/
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem  {
    background: #5f2c82 url(../imagens/imagemP.jpg);
    display: block;
    height: 200px;
    background-size: cover;
    background-position: center bottom;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    margin: 5px 0px;
}

label {
    display: none;
}

div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

div.campo > input {
    display: block;
    background-color: #5fcbc8;
    border: 0px;
    padding: 4px;
    border-radius: 10px;
    height: 77%;
    width: calc(100% - 43px);
    transform: translate(39px, -37.5px);
}

div.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit] {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: white;
    color: #49a09d;
    border: 1px solid #49a09d;
}

form >a.botao {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    padding-top: 5px;
    border-radius: 10px;
    border: 1px solid #49a09d;
    color: #49a09d;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

form >a.botao:hover {
    color: white;
    background-color: #49a09d;
}